/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px 0px 50px 20px;
}

button {
  margin-left: 20px;
  color: white;
  background-color: rgb(59, 78, 217);
  border: none;
  border-radius: 10%;
  cursor: pointer;
  padding: 10px;

}

.languages-list {
  display: flex;
  list-style: none;
}

.language-card {
  margin-top: 30px;
  margin-left: 20px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.368);
  border-radius: 10px;
  display: inline-block;
}